<h2>Find Movie By Year</h2>
<hr />
@using (Html.BeginForm())
{
    <p>
        @*Enter Year:
        <input type="text" id="year" name="year" />*@

        Select Year : @Html.DropDownList("year")
        <br />
        <input type="submit" value="Find" />
    </p>
}
<hr />
@if (ViewBag.Movies != null)
{
<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Year</th>
        <th>Rating</th>
    </thead>
    <tbody>
        @foreach (var data in ViewBag.Movies)
        {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    <td>@data.Year</td>
                    <td>@data.Rating</td>
                    @{ 
                        int rating = data.Rating;
                        string msg = null;
                        if (rating == 5) msg = "Excellent";
                        else if (rating == 4) msg = "very Good";
                        else if (rating == 3) msg = "Good";
                        else if (rating == 2) msg = "Watchable";
                        else if (rating == 1) msg = "OK";
                        else msg = "Waste of Money";
                    }
                    <td>@msg</td>
                </tr>
        }
    </tbody>
</table>
}