<h2>Find Movie By Year</h2>
<hr />
@using (Html.BeginForm())
{
    <p>
        @*Enter Year:
        <input type="text" id="year" name="year" />*@

        Select Year : @Html.DropDownList("year")
        <br />
        <input type="submit" value="Find" />
    </p>
}
<hr />
@if (ViewBag.Movies != null)
{
<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Year</th>
        <th>Rating</th>
    </thead>
    <tbody>
        @foreach (var data in ViewBag.Movies)
        {
                <tr>
                    <td>@data.Id</td>
                    <td>@data.Name</td>
                    <td>@data.Year</td>
                    <td>@data.Rating</td>
                </tr>
        }
    </tbody>
</table>
}