@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.ActionLink("Home", "Index", "Movie")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("All", "List", "Movie")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Find", "Find", "Movie")&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Yearly Movies", "FindByYear", "Movie")&nbsp;&nbsp;&nbsp;&nbsp;

    <div style="background-color:lightcoral">
        @RenderBody()
    </div>
</body>
</html>
